<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="css/login.css">
        
        <script src="https://kit.fontawesome.com/11fb539de2.js" crossorigin="anonymous"></script>
        
    
    </head>
    <body>
         <div class="main">
            <div class="container">
                <form action="/login" method="post">
                    <h2> login</h2>
                    <i class="fa-solid fa-envelope">
                        <input type="email" name="email" placeholder="enter your email"></i>
                        <i class="fa-solid fa-key">
                        <input type="password" name="password" placeholder="enter your password"></i>
                        <button type="submit">submit</button>
                        <span style="text-align: center;">dont have an account?<a href="/register">register</a></span>
        
                    
                </form>
                
            </div>
         </div>
     
        
        
    </body>
    </html>